In [1]:
# Importar el csv

import pandas as pd
import matplotlib.pylab as plt
import numpy as np
url = "Iris_data_sample.csv"
df = pd.read_csv(url, header=None)

In [10]:
df.head()
df.tail()
headers = ["0", "1", "2", "3", "4", "5"]

In [11]:
# Imprimir la tabla

df.columns = headers
df.head(6)

     0              1             2              3             4            5
0  NaN  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1  1.0            5.1           3.5            1.4           0.2  Iris-setosa
2  2.0            4.9           NaN            1.4           0.2          NaN
3  3.0            4.7           3.2            1.3           0.2  Iris-setosa
4  4.0             ??           3.1            1.5           0.2  Iris-setosa
5  5.0              5           3.6            ###           0.2  Iris-setosa

In [29]:
# Reemplazar los headers por nuevos nombres

df = df.rename(columns = {'SepalLength':'SepalLengthCm'}, inplace = False)
df.head(6)

   NaN SepalLengthCm SepalWidthCm PetalLengthCm PetalWidthCm      Species
1  1.0           5.1          3.5           1.4          0.2  Iris-setosa
2  2.0           4.9          NaN           1.4          0.2          NaN
3  3.0           4.7          3.2           1.3          0.2  Iris-setosa
4  4.0           NaN          3.1           1.5          0.2  Iris-setosa
5  5.0             5          3.6           NaN          0.2  Iris-setosa
6  6.0           5.4          3.9           NaN          0.4  Iris-setosa

In [18]:
# Eliminar la primer fila

df.drop(0,axis=0,inplace=True)
df.head(6)

   NaN SepalLength SepalWidthCm PetalLengthCm PetalWidthCm      Species
1  1.0         5.1          3.5           1.4          0.2  Iris-setosa
2  2.0         4.9          NaN           1.4          0.2          NaN
3  3.0         4.7          3.2           1.3          0.2  Iris-setosa
4  4.0          ??          3.1           1.5          0.2  Iris-setosa
5  5.0           5          3.6           ###          0.2  Iris-setosa
6  6.0         5.4          3.9           NaN          0.4  Iris-setosa

In [20]:
# Reemplazar los valores ?? por NaN

df.replace("??", np.nan, inplace=True)
df.head(6)

   NaN SepalLength SepalWidthCm PetalLengthCm PetalWidthCm      Species
1  1.0         5.1          3.5           1.4          0.2  Iris-setosa
2  2.0         4.9          NaN           1.4          0.2          NaN
3  3.0         4.7          3.2           1.3          0.2  Iris-setosa
4  4.0         NaN          3.1           1.5          0.2  Iris-setosa
5  5.0           5          3.6           ###          0.2  Iris-setosa
6  6.0         5.4          3.9           NaN          0.4  Iris-setosa

In [21]:
# Reemplazar los valores ### por NaN

df.replace("###", np.nan, inplace=True)
df.head(6)

   NaN SepalLength SepalWidthCm PetalLengthCm PetalWidthCm      Species
1  1.0         5.1          3.5           1.4          0.2  Iris-setosa
2  2.0         4.9          NaN           1.4          0.2          NaN
3  3.0         4.7          3.2           1.3          0.2  Iris-setosa
4  4.0         NaN          3.1           1.5          0.2  Iris-setosa
5  5.0           5          3.6           NaN          0.2  Iris-setosa
6  6.0         5.4          3.9           NaN          0.4  Iris-setosa

In [22]:
# Imprimir toda la tabla 

print(df.to_string())

       NaN SepalLength SepalWidthCm PetalLengthCm PetalWidthCm          Species
1      1.0         5.1          3.5           1.4          0.2      Iris-setosa
2      2.0         4.9          NaN           1.4          0.2              NaN
3      3.0         4.7          3.2           1.3          0.2      Iris-setosa
4      4.0         NaN          3.1           1.5          0.2      Iris-setosa
5      5.0           5          3.6           NaN          0.2      Iris-setosa
6      6.0         5.4          3.9           NaN          0.4      Iris-setosa
7      7.0         4.6          3.4           1.4          0.3      Iris-setosa
8      8.0           5          3.4           1.5          0.2      Iris-setosa
9      9.0         4.4          2.9           1.4          0.2      Iris-setosa
10    10.0         4.9          3.1           1.5          0.1      Iris-setosa
11    11.0         5.4          3.7           1.5          0.2      Iris-setosa
12    12.0         4.8          3.4           1.6          0.2      Iris-setosa
13    13.0         4.8            3           1.4          0.1      Iris-setosa
14    14.0         4.3            3           1.1          0.1      Iris-setosa
15    15.0         5.8            4           1.2          0.2      Iris-setosa
16    16.0         5.7          4.4           1.5          0.4      Iris-setosa
17    17.0         5.4          3.9           1.3          0.4      Iris-setosa
18    18.0         5.1          3.5           1.4          0.3      Iris-setosa
19    19.0         5.7          3.8           1.7          0.3      Iris-setosa
20    20.0         5.1          3.8           1.5          0.3      Iris-setosa
21    21.0         5.4          3.4           1.7          0.2      Iris-setosa
22    22.0         5.1          3.7           1.5          0.4      Iris-setosa
23    23.0         4.6          3.6             1          0.2      Iris-setosa
24    24.0         5.1          3.3           1.7          0.5      Iris-setosa
25    25.0         4.8          3.4           1.9          0.2      Iris-setosa
26    26.0           5            3           1.6          0.2      Iris-setosa
27    27.0           5          3.4           1.6          0.4      Iris-setosa
28    28.0         5.2          3.5           1.5          0.2      Iris-setosa
29    29.0         5.2          3.4           1.4          0.2      Iris-setosa
30    30.0         4.7          3.2           1.6          0.2      Iris-setosa
31    31.0         4.8          3.1           1.6          0.2      Iris-setosa
32    32.0         5.4          3.4           1.5          0.4      Iris-setosa
33    33.0         5.2          4.1           1.5          0.1      Iris-setosa
34    34.0         5.5          4.2           1.4          0.2      Iris-setosa
35    35.0         4.9          3.1           1.5          0.1      Iris-setosa
36    36.0           5          3.2           1.2          0.2      Iris-setosa
37    37.0         5.5          3.5           1.3          0.2      Iris-setosa
38    38.0         4.9          3.1           1.5          0.1      Iris-setosa
39    39.0         4.4            3           1.3          0.2      Iris-setosa
40    40.0         5.1          3.4           1.5          0.2      Iris-setosa
41    41.0           5          3.5           1.3          0.3      Iris-setosa
42    42.0         4.5          2.3           1.3          0.3      Iris-setosa
43    43.0         4.4          3.2           1.3          0.2      Iris-setosa
44    44.0           5          3.5           1.6          0.6      Iris-setosa
45    45.0         5.1          3.8           1.9          0.4      Iris-setosa
46    46.0         4.8            3           1.4          0.3      Iris-setosa
47    47.0         5.1          3.8           1.6          0.2      Iris-setosa
48    48.0         4.6          3.2           1.4          0.2      Iris-setosa
49    49.0         5.3          3.7           1.5          0.2      Iris-setosa
50    50.0           5          3.3           1.4          0.2      Iris-setosa
51    51.0           7          3.2           4.7          1.4  Iris-versicolor
52    52.0         6.4          3.2           4.5          1.5  Iris-versicolor
53    53.0         6.9          3.1           4.9          1.5  Iris-versicolor
54    54.0         5.5          2.3             4          1.3  Iris-versicolor
55    55.0         6.5          2.8           4.6          1.5  Iris-versicolor
56    56.0         5.7          2.8           4.5          1.3  Iris-versicolor
57    57.0         6.3          3.3           4.7          1.6  Iris-versicolor
58    58.0         4.9          2.4           3.3            1  Iris-versicolor
59    59.0         6.6          2.9           4.6          1.3  Iris-versicolor
60    60.0         5.2          2.7           3.9          1.4  Iris-versicolor
61    61.0           5            2           3.5            1  Iris-versicolor
62    62.0         5.9            3           4.2          1.5  Iris-versicolor
63    63.0           6          2.2             4            1  Iris-versicolor
64    64.0         6.1          2.9           4.7          1.4  Iris-versicolor
65    65.0         5.6          2.9           3.6          1.3  Iris-versicolor
66    66.0         6.7          3.1           4.4          1.4  Iris-versicolor
67    67.0         5.6            3           4.5          1.5  Iris-versicolor
68    68.0         5.8          2.7           4.1            1  Iris-versicolor
69    69.0         6.2          2.2           4.5          1.5  Iris-versicolor
70    70.0         5.6          2.5           3.9          1.1  Iris-versicolor
71    71.0         5.9          3.2           4.8          1.8  Iris-versicolor
72    72.0         6.1          2.8             4          1.3  Iris-versicolor
73    73.0         6.3          2.5           4.9          1.5  Iris-versicolor
74    74.0         6.1          2.8           4.7          1.2  Iris-versicolor
75    75.0         6.4          2.9           4.3          1.3  Iris-versicolor
76    76.0         6.6            3           4.4          1.4  Iris-versicolor
77    77.0         6.8          2.8           4.8          1.4  Iris-versicolor
78    78.0         6.7            3             5          1.7  Iris-versicolor
79    79.0           6          2.9           4.5          1.5  Iris-versicolor
80    80.0         5.7          2.6           3.5            1  Iris-versicolor
81    81.0         5.5          2.4           3.8          1.1  Iris-versicolor
82    82.0         5.5          2.4           3.7            1  Iris-versicolor
83    83.0         5.8          2.7           3.9          1.2  Iris-versicolor
84    84.0           6          2.7           5.1          1.6  Iris-versicolor
85    85.0         5.4            3           4.5          1.5  Iris-versicolor
86    86.0           6          3.4           4.5          1.6  Iris-versicolor
87    87.0         6.7          3.1           4.7          1.5  Iris-versicolor
88    88.0         6.3          2.3           4.4          1.3  Iris-versicolor
89    89.0         5.6            3           4.1          1.3  Iris-versicolor
90    90.0         5.5          2.5             4          1.3  Iris-versicolor
91    91.0         5.5          2.6           4.4          1.2  Iris-versicolor
92    92.0         6.1            3           4.6          1.4  Iris-versicolor
93    93.0         5.8          2.6             4          1.2  Iris-versicolor
94    94.0           5          2.3           3.3            1  Iris-versicolor
95    95.0         5.6          2.7           4.2          1.3  Iris-versicolor
96    96.0         5.7            3           4.2          1.2  Iris-versicolor
97    97.0         5.7          2.9           4.2          1.3  Iris-versicolor
98    98.0         6.2          2.9           4.3          1.3  Iris-versicolor
99    99.0         5.1          2.5             3          1.1  Iris-versicolor
100  100.0         5.7          2.8           4.1          1.3  Iris-versicolor
101  101.0         6.3          3.3             6          2.5   Iris-virginica
102  102.0         5.8          2.7           5.1          1.9   Iris-virginica
103  103.0         7.1            3           5.9          2.1   Iris-virginica
104  104.0         6.3          2.9           5.6          1.8   Iris-virginica
105  105.0         6.5            3           5.8          2.2   Iris-virginica
106  106.0         7.6            3           6.6          2.1   Iris-virginica
107  107.0         4.9          2.5           4.5          1.7   Iris-virginica
108  108.0         7.3          2.9           6.3          1.8   Iris-virginica
109  109.0         6.7          2.5           5.8          1.8   Iris-virginica
110  110.0         7.2          3.6           6.1          2.5   Iris-virginica
111  111.0         6.5          3.2           5.1            2   Iris-virginica
112  112.0         6.4          2.7           5.3          1.9   Iris-virginica
113  113.0         6.8            3           5.5          2.1   Iris-virginica
114  114.0         5.7          2.5             5            2   Iris-virginica
115  115.0         5.8          2.8           5.1          2.4   Iris-virginica
116  116.0         6.4          3.2           5.3          2.3   Iris-virginica
117  117.0         6.5            3           5.5          1.8   Iris-virginica
118  118.0         7.7          3.8           6.7          2.2   Iris-virginica
119  119.0         7.7          2.6           6.9          2.3   Iris-virginica
120  120.0           6          2.2             5          1.5   Iris-virginica
121  121.0         6.9          3.2           5.7          2.3   Iris-virginica
122  122.0         5.6          2.8           4.9            2   Iris-virginica
123  123.0         7.7          2.8           6.7            2   Iris-virginica
124  124.0         6.3          2.7           4.9          1.8   Iris-virginica
125  125.0         6.7          3.3           5.7          2.1   Iris-virginica
126  126.0         7.2          3.2             6          1.8   Iris-virginica
127  127.0         6.2          2.8           4.8          1.8   Iris-virginica
128  128.0         6.1            3           4.9          1.8   Iris-virginica
129  129.0         6.4          2.8           5.6          2.1   Iris-virginica
130  130.0         7.2            3           5.8          1.6   Iris-virginica
131  131.0         7.4          2.8           6.1          1.9   Iris-virginica
132  132.0         7.9          3.8           6.4            2   Iris-virginica
133  133.0         6.4          2.8           5.6          2.2   Iris-virginica
134  134.0         6.3          2.8           5.1          1.5   Iris-virginica
135  135.0         6.1          2.6           5.6          1.4   Iris-virginica
136  136.0         7.7            3           6.1          2.3   Iris-virginica
137  137.0         6.3          3.4           5.6          2.4   Iris-virginica
138  138.0         6.4          3.1           5.5          1.8   Iris-virginica
139  139.0           6            3           4.8          1.8   Iris-virginica
140  140.0         6.9          3.1           5.4          2.1   Iris-virginica
141  141.0         6.7          3.1           5.6          2.4   Iris-virginica
142  142.0         6.9          3.1           5.1          2.3   Iris-virginica
143  143.0         5.8          2.7           5.1          1.9   Iris-virginica
144  144.0         6.8          3.2           5.9          2.3   Iris-virginica
145  145.0         6.7          3.3           5.7          2.5   Iris-virginica
146  146.0         6.7            3           5.2          2.3   Iris-virginica
147  147.0         6.3          2.5             5          1.9   Iris-virginica
148  148.0         6.5            3           5.2            2   Iris-virginica
149  149.0         6.2          3.4           5.4          2.3   Iris-virginica
150  150.0         5.9            3           5.1          1.8   Iris-virginica

In [24]:
# Imprimir la tabla con False o true dependiendo si los espacios contienen NaN

missing_data = df.isnull()
missing_data.head(150)

       NaN  SepalLength  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
1    False        False         False          False         False    False
2    False        False          True          False         False     True
3    False        False         False          False         False    False
4    False         True         False          False         False    False
5    False        False         False           True         False    False
..     ...          ...           ...            ...           ...      ...
146  False        False         False          False         False    False
147  False        False         False          False         False    False
148  False        False         False          False         False    False
149  False        False         False          False         False    False
150  False        False         False          False         False    False

[150 rows x 6 columns]

In [25]:
# Imprimir los campos de una forma mas legible

for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

NaN
False    150
Name: NaN, dtype: int64

SepalLength
False    149
True       1
Name: SepalLength, dtype: int64

SepalWidthCm
False    149
True       1
Name: SepalWidthCm, dtype: int64

PetalLengthCm
False    148
True       2
Name: PetalLengthCm, dtype: int64

PetalWidthCm
False    150
Name: PetalWidthCm, dtype: int64

Species
False    149
True       1
Name: Species, dtype: int64

In [26]:
# Sacar promedios

avg_NaN = df["NaN"].astype("float").mean(axis=0)
print("Average of NaN:", avg_NaN)

Average of NaN: 75.5

In [30]:
avg_SepalLengthCm = df["SepalLengthCm"].astype("float").mean(axis=0)
print("Average of SepalLengthCm:", avg_SepalLengthCm)

Average of SepalLengthCm: 5.8516778523489945

In [31]:
avg_SepalWidthCm = df["SepalWidthCm"].astype("float").mean(axis=0)
print("Average of SepalWidthCm:", avg_SepalWidthCm)

Average of SepalWidthCm: 3.0543624161073835

In [32]:
avg_PetalLengthCm = df["PetalLengthCm"].astype("float").mean(axis=0)
print("Average of PetalLengthCm:", avg_PetalLengthCm)

Average of PetalLengthCm: 3.788513513513516

In [33]:
avg_PetalWidthCm = df["PetalWidthCm"].astype("float").mean(axis=0)
print("Average of PetalWidthCm:", avg_PetalWidthCm)

Average of PetalWidthCm: 1.1986666666666672

In [37]:
# Imprimir la ultima columna

print(df.Species)

1         Iris-setosa
2                 NaN
3         Iris-setosa
4         Iris-setosa
5         Iris-setosa
            ...
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
150    Iris-virginica
Name: Species, Length: 150, dtype: object